* {
	margin: 0;
	padding: 0;
}

body {
  /*padding: 50px;*/
  font: 16px "Georgia", serif;
}

#page-wrap {margin: 2% auto; color:white;}
#page-wrap > .main {border:1px solid #999; padding:1%; margin-bottom: 1px; color:black;
}

section > div {padding:20px;}

a {
  color: #00B7FF;
}

header {
	padding: .5em;
}

nav, footer, header,  section {
	background: #eee; text-align: center;
}


nav span {
	margin: 0px 10px 0px 0px;
}

img {
	width: 60px;
	height: 76.2px;
}

.en-linea {
	display: inline;
	margin-left: 1em;
}

nav span { margin: 0 10px 0 0;}
#ErrorMsgs { color: #f61; font-size: smaler}

.tabla th, .tabla td {
	padding: .3em;
	text-align: center;
}

.tabla {
	width: 40%;
	min-width: 371px;
	margin:1em auto;
	border-collapse: collapse;
}

.tabla thead {
	background: black;
	color: white;
}

.tabla tbody tr:nth-child(odd) {
	color:white;
	background: #585151;
}

.tabla tbody tr:nth-child(even) {
	color:white;
	background: #605C5C;
}

.dis-inline {
	margin: .3em;
	display: inline;
}

.a-btn {
	margin: 1em;
}